<%- include("partials/head.ejs") %>

<body>
<%- include("partials/navbar.ejs") %>

    <h1>Home Page <%= 4+6+10+" hello World".toUpperCase() %></h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda culpa error est ex fuga impedit magni modi molestiae nam officia omnis quae quibusdam quo, sit voluptatem? Blanditiis itaque maxime non.
           Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab adipisci delectus dignissimos doloribus eius quaerat quas quasi quisquam sint tempora. Blanditiis doloremque nihil quaerat ratione veritatis. Explicabo iste molestiae suscipit?
        </p>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet animi aut doloribus hic id illum maiores molestias nulla officia repudiandae! Cupiditate illo in iste, modi placeat sint sunt suscipit voluptatem.
        </p>
</body>
</html>
