img{
    width: 30%;
    margin: calc(10%/6);
}
nav{
    text-transform: uppercase;
    margin: calc(10%/6);
    border: 2px solid white;
    border-bottom-color: #f1f1f1;
    width: 30%;
    padding: 10px 0;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 1.3em;
}