<!doctype html>
<html lang = "en">
<head>
    <meta charset = "UTF-8">
    <meta name = "viewport"
          content = "width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv = "X-UA-Compatible" content = "ie=edge">
    <title>New Product</title>
</head>
<body>
<h1>Add a Product</h1>
<form action = "/products" method="post">
    <label for = "name">Name </label>
    <input type = "text" placeholder="product name" name="name" id="name">
    <label for = "price">Price(Unit) </label>
    <input type = "number" placeholder="product price" name="price" id="price">
    <label for = "category">Select Category</label>
    <select name = "category" id = "category">
        <option value = "fruit">fruit</option>
        <option value = "vegetable">vegetable</option>
        <option value = "dairy">dairy</option>
    </select>
    <button>Submit</button>
</form>
</body>
</html>